/.DS_Store
/.idea
/.well-known

/bitrix
!/bitrix/php_interface/after_connect.php
!/bitrix/php_interface/after_connect_d7.php
!/bitrix/backup

/local/vendor
/upload

*.bak
*.log
*.tmp

*.rar
*.zip

composer.phar
Thumbs.db